@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;400;500;600;800;900&family=Nunito:wght@200;300;600;700&family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}
.slidebar{
  background-color: aqua;
}
.main{
    background-color: blueviolet;
}